.login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #282828;

    &Container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 425px;

        gap: 1.5rem;
    }

    &Form {
        display: flex;
        flex-direction: column;

        gap: 1.5rem;

        &Input {
            font-size: 1.125rem;
            font-weight: 600;
            padding: 8px 10px;
            color: #fff;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid #ccc;

            &:focus {
                outline: 2px solid#fd267a;
                border-radius: 4px;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                -webkit-text-fill-color: #000;
                -webkit-box-shadow: 0 0 0px 40rem #ccc inset;
            }
        }
    }

    &Button {
        padding: 12px 4px;
        border: none;
        border-radius: 64px;
        font-size: 1.125rem;
        font-weight: 700;
        color: #fff;
        border: 2px solid #fd267a;
        cursor: pointer;

        background-color: transparent;

        transition: scale 0.3s ease;

        &Submit {
            margin-top: 2rem;
        }

        &:active {
            scale: 0.95;
        }

        &:hover {
            background: linear-gradient(45deg, #fd267a, #ff6036);
        }
    }
}
